* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    color: $col-2;
}

main {
    flex-grow: 1;
    max-width: 900px;
    display: flex;
    margin: 100px auto 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: $col-2;
    }
}

.u-container {
    display: flex;
    justify-content: space-between;
}