* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: $col-2;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: $col-2;
    }
}

.u-container {
    display: flex;
    justify-content: space-between;
}